function HomeScreen.drawFrame 0
push constant 5
push constant 5
push constant 506
push constant 10
call Screen.drawRectangle 4
pop temp 0
push constant 5
push constant 246
push constant 506
push constant 251
call Screen.drawRectangle 4
pop temp 0
push constant 5
push constant 5
push constant 10
push constant 251
call Screen.drawRectangle 4
pop temp 0
push constant 501
push constant 5
push constant 506
push constant 251
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawGornjiVijenac 0
push constant 217
push constant 12
push constant 301
push constant 24
call Screen.drawRectangle 4
pop temp 0
push constant 205
push constant 24
push constant 217
push constant 36
call Screen.drawRectangle 4
pop temp 0
push constant 301
push constant 24
push constant 313
push constant 36
call Screen.drawRectangle 4
pop temp 0
push constant 193
push constant 36
push constant 205
push constant 60
call Screen.drawRectangle 4
pop temp 0
push constant 313
push constant 36
push constant 325
push constant 60
call Screen.drawRectangle 4
pop temp 0
push constant 181
push constant 60
push constant 193
push constant 84
call Screen.drawRectangle 4
pop temp 0
push constant 325
push constant 60
push constant 337
push constant 84
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawDonjiVijenac 0
push constant 181
push constant 132
push constant 193
push constant 156
call Screen.drawRectangle 4
pop temp 0
push constant 325
push constant 132
push constant 337
push constant 156
call Screen.drawRectangle 4
pop temp 0
push constant 193
push constant 156
push constant 205
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 313
push constant 156
push constant 325
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 205
push constant 180
push constant 217
push constant 192
call Screen.drawRectangle 4
pop temp 0
push constant 301
push constant 180
push constant 313
push constant 192
call Screen.drawRectangle 4
pop temp 0
push constant 217
push constant 192
push constant 301
push constant 204
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawM 0
push constant 132
push constant 90
push constant 138
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 156
push constant 90
push constant 162
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 138
push constant 96
push constant 144
push constant 102
call Screen.drawRectangle 4
pop temp 0
push constant 144
push constant 102
push constant 150
push constant 108
call Screen.drawRectangle 4
pop temp 0
push constant 150
push constant 96
push constant 156
push constant 102
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawI1 0
push constant 168
push constant 90
push constant 186
push constant 96
call Screen.drawRectangle 4
pop temp 0
push constant 174
push constant 96
push constant 180
push constant 120
call Screen.drawRectangle 4
pop temp 0
push constant 168
push constant 120
push constant 186
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawL 0
push constant 192
push constant 90
push constant 198
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 192
push constant 120
push constant 210
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawI2 0
push constant 216
push constant 90
push constant 234
push constant 96
call Screen.drawRectangle 4
pop temp 0
push constant 222
push constant 96
push constant 228
push constant 120
call Screen.drawRectangle 4
pop temp 0
push constant 216
push constant 120
push constant 234
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawJ 0
push constant 252
push constant 90
push constant 258
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 240
push constant 114
push constant 246
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 246
push constant 120
push constant 252
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawU 0
push constant 264
push constant 90
push constant 270
push constant 120
call Screen.drawRectangle 4
pop temp 0
push constant 282
push constant 90
push constant 288
push constant 120
call Screen.drawRectangle 4
pop temp 0
push constant 264
push constant 120
push constant 288
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawN 0
push constant 294
push constant 90
push constant 300
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 318
push constant 90
push constant 324
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 300
push constant 96
push constant 306
push constant 102
call Screen.drawRectangle 4
pop temp 0
push constant 306
push constant 102
push constant 312
push constant 108
call Screen.drawRectangle 4
pop temp 0
push constant 312
push constant 108
push constant 318
push constant 114
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawA 0
push constant 330
push constant 90
push constant 336
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 348
push constant 90
push constant 354
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 336
push constant 90
push constant 348
push constant 96
call Screen.drawRectangle 4
pop temp 0
push constant 336
push constant 102
push constant 348
push constant 108
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawSh 0
push constant 360
push constant 72
push constant 366
push constant 78
call Screen.drawRectangle 4
pop temp 0
push constant 372
push constant 72
push constant 378
push constant 78
call Screen.drawRectangle 4
pop temp 0
push constant 366
push constant 78
push constant 372
push constant 84
call Screen.drawRectangle 4
pop temp 0
push constant 360
push constant 90
push constant 378
push constant 96
call Screen.drawRectangle 4
pop temp 0
push constant 360
push constant 96
push constant 366
push constant 102
call Screen.drawRectangle 4
pop temp 0
push constant 360
push constant 102
push constant 378
push constant 108
call Screen.drawRectangle 4
pop temp 0
push constant 372
push constant 108
push constant 378
push constant 120
call Screen.drawRectangle 4
pop temp 0
push constant 360
push constant 120
push constant 378
push constant 126
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function HomeScreen.drawText 0
call HomeScreen.drawM 0
pop temp 0
call HomeScreen.drawI1 0
pop temp 0
call HomeScreen.drawL 0
pop temp 0
call HomeScreen.drawI2 0
pop temp 0
call HomeScreen.drawJ 0
pop temp 0
call HomeScreen.drawU 0
pop temp 0
call HomeScreen.drawN 0
pop temp 0
call HomeScreen.drawA 0
pop temp 0
call HomeScreen.drawSh 0
pop temp 0
push constant 0
return
function HomeScreen.drawStartMessage 0
push constant 20
push constant 16
call myPrint.moveCursor 2
pop temp 0
push constant 33
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 125
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
call myPrint.printString 1
pop temp 0
push constant 0
return
function HomeScreen.drawVijenac 0
call HomeScreen.drawGornjiVijenac 0
pop temp 0
call HomeScreen.drawDonjiVijenac 0
pop temp 0
push constant 0
return
function HomeScreen.HomeScreenMain 0
call Main.initGame 0
pop temp 0
call myPrint.init 0
pop temp 0
call myPrint.initLineLength 0
pop temp 0
call Screen.clearScreen 0
pop temp 0
call HomeScreen.drawFrame 0
pop temp 0
call HomeScreen.drawVijenac 0
pop temp 0
call HomeScreen.drawText 0
pop temp 0
call HomeScreen.drawStartMessage 0
pop temp 0
push constant 0
return
